version: "3.8"

services:
  web:
    image: revelation/card-game-web:${project.version}
    restart: unless-stopped
    ports:
      - "80"
    depends_on:
      - service

  service:
    image: revelation/card-game-service:${project.version}
    restart: unless-stopped
    environment:
      - DATABASE_HOST=mongo
      - DATABASE_PORT=27017
    ports:
      - "7000"
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4
    restart: unless-stopped
    ports:
      - "27017"
    volumes:
      - mongo:/data/db

  nginx:
    image: nginx:1.19
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "3030:80"

volumes:
  mongo:
