version: "3.8"

services:
  ssl:
    container_name: ssl
    image: ghcr.io/linuxserver/swag:version-1.10.1
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - URL=revelation218.com
      - SUBDOMAINS=www,
      - VALIDATION=http
      - EMAIL=richard@revelation218.com
      - STAGING=false
    volumes:
      - ssl:/config
      - ./nginx_ssl_proxy.conf:/config/nginx/site-confs/default
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped

volumes:
  ssl_config:
